<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/dx.light.css">
    <script type="text/javascript" src="/js/dx.all.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript">
        DevExpress.localization.locale("pt");
    </script>
    <script src="/js/localization/dx.messages.pt.js"></script>
    <title>@ViewBag.Title</title>
</head>

<body>
    @RenderBody()
</body>

</html>


