@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<form class="mt-5 ml-4">
    <div id="lookUpNoticias"></div>
    <div id="titulo"></div>
    <div id="imagem"></div>
    <div id="noticia"></div>
    <div id="categoria"></div>
    <div id="publicada"></div>
    <div class="mt-4">
        <div id="limpar"></div>
        <div id="publicar"></div>
    </div>
</form>

<script src="/js/publicacao.js"></script>
