@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<style>

    #foto {
        border: 1px solid #d3d3d3;
        width: 400px;
    }
</style>


<form class="mt-5 ml-4">
    <div id="nome"></div>
    <div id="email"></div>
    <div id="senha"></div>
    <div class="d-flex foto">
        <div id="foto"></div>
        <img id="imagemEscolhida" src="" style="max-height: 200px;"></img>
    </div>
    <div id="tagCategorias"></div>
    <div class="mt-4">
        <div id="limpar"></div>
        <div id="cadastrar"></div>
    </div>
</form>

<script src="/js/cadastro.js"></script>