@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<style>

    #foto {
        border: 1px solid #d3d3d3;
        margin: 20px 20px 0 20px;
        width: 400px;
    }
</style>


<div class="mt-5 ml-4">
    <div id="nome"></div>
    <div id="email"></div>
    <div id="senha"></div>
    <div id="foto"></div>
     <div class="mt-4">
        <div id="limpar"></div>
        <div id="cadastrar"></div>
    </div>
</div>

<script src="/js/cadastro.js"></script>